@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --bg-page: #0E1218;
    --bg-button: #ffffffb9;
    --text-color: #F1F1F1;
    --left-section-color: #2F2F2F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-page);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

<<<<<<< HEAD
.rentDisplayContainer{
    display: flex;
}

.dashboard-container {
    display: flex;
}
=======

.dashboard-container {
    display: flex;
}
>>>>>>> f308d4a1ef5fff8635b4bb09b97fadb5cfa30929
