@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --bg-page: #0E1218;
    --bg-card: #D9D9D9;
    --bg-button: #ffffffb9;
    --text-color: #F1F1F1;
    --left-section-color: #2F2F2F;
    --primary: #81B29A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .dashboard-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


.rentDisplayContainer{
    display: flex;
}

.dashboard-container {
    display: flex;
}